{
  "extends": "../.eslintrc",
  "rules": {
    "@angular-eslint/directive-selector": [
      "error",
      {
        "type": "OPTION_TYPE_ATTRIBUTE",
        "prefix": "app2",
        "style": "camelCase"
      }
    ],
    "@angular-eslint/component-selector": [
      "error",
      {
        "type": "OPTION_TYPE_ELEMENT",
        "prefix": "app2",
        "style": "kebab-case"
      }
    ]
  }
}
