{
  "extends": "../../.eslintrc",
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "paths": ["lodash", "rxjs/Rx"],
        "patterns": ["@angular/compiler/*", "lodash/*", "aws"]
      }
    ]
  }
}
